{% extends 'base.html' %}
{% load static %}

{% block content %}   
        <div class="jumbotron py-0 px-3">
            <div class="row">
                <ul class="nav nav-tabs flex-column col-lg-3 px-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true">Featured Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="best-tab" data-toggle="tab" href="#best" role="tab" aria-controls="best" aria-selected="false">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="false">Summer Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="premium-tab" data-toggle="tab" href="#premium" role="tab" aria-controls="premium" aria-selected="false">Premium Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gift-tab" data-toggle="tab" href="#gift" role="tab" aria-controls="gift" aria-selected="false">Gift Idea</a>
                    </li>
                </ul>
                <div class="tab-content col-md-12 col-lg-9 text-white" id="myTabContent">
                    <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                        <div class="row">
                            <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                                <h2>Apple iPhone 6</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                                <a href="product.html" class="btn btn-dark">View</a>
                            </div>
                            <img class="col-sm-6 col-md-6 col-lg-6 p-2" src="{% static 'img/iphone-6.jpg' %}" alt="product" style="max-height: 350px;">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="best" role="tabpanel" aria-labelledby="best-tab">
                        <div class="row">
                            <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                                <h2>PS4</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                                <a href="product.html" class="btn btn-dark">View</a>
                            </div>
                            <img class="col-sm-6 col-lg-6 p-2" src="{% static 'img/ps4.png' %}" alt="product" style="max-height: 350px;">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-tab">
                        <div class="row">
                            <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                                <h2>Xbox One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                                <a href="product.html" class="btn btn-dark">View</a>
                            </div>
                            <img class="col-sm-6 col-lg-6 p-2" src="{% static 'img/xbox.png' %}" alt="product" style="max-height: 350px;">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="premium" role="tabpanel" aria-labelledby="premium-tab">
                        <div class="row">
                            <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                                <h2>Apple Macbook</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                                <a href="product.html" class="btn btn-dark">View</a>
                            </div>
                            <img class="col-sm-6 col-lg-6 p-2" src="{% static 'img/macbook.png' %}" alt="product" style="max-height: 350px;">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="gift" role="tabpanel" aria-labelledby="gift-tab">
                        <div class="row">
                            <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                                <h2>Apple iMac</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                                <a href="product.html" class="btn btn-dark">View</a>
                            </div>
                            <img class="col-sm-6 col-lg-6 p-2" src="{% static 'img/imac.png' %}" alt="product" style="max-height: 350px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="products">
               
                    
            <div class="row">
                    {% for prod in store_items %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="item rounded mx-auto d-block" src="{{prod.imglink}}" alt="Card image cap">
                        <div class="card-body">
                            <div class="caption">
                                <div class="caption-top">
                                    <h5 class="float-right badge-success p-1">
                                        ${{prod.price}}
                                    </h5>
                                    <h5>
                                        <a href="product.html">{{prod.name}}</a>
                                    </h5>
                                </div>
                                <p>{{prod.description}}</p>
                                
                                <form method = "post">
                                        {% csrf_token %}
                                    <input type= "submit" value = "Add to Cart" class = "btn btn-success">
                                    <a href="{% url 'product' prod.id %}" class="btn btn-primary">View</a>
                                    <input type="hidden" name="obj_id" value={{prod.id}} />
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="ratings">
                                <p class="float-right">15 Reviews</p>
                                <p>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
  
        </section>
{% endblock %}
